{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Registration and Recognition</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Face Registration and Recognition</h1>
    <div class="button-container">
        <button id="register-button"><a style="color: inherit; text-decoration: none" href="register">Register Face</a></button>
        <button id="recognize-button"><a style="color: inherit; text-decoration: none" href="recognized">Recognize Face</a></button>
    </div>
</body>
</html>
