{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Registered Successfully</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>
    <div class="success-container">
        <h1>Face Registered Successfully</h1>
        <p>Your face has been registered in our system.</p>
        <a href="recognized" class="button">Recognize Face</a>
    </div>
</body>
</html>
